.header-section {
    padding: 22px 23px;
}
.yapp-link {
    text-decoration: none;
    font-family: 'Avenir';
    font-size: 14px;
    line-height: 1.93;
    letter-spacing: -0.28px;
    color: #000000;
}