.description-title {
    display: inline-block;
    position: relative;
    font-family: 'Spoqa Han Sans';
    font-size: 32px;
    font-weight: normal;
    line-height: 1.22;
    letter-spacing: -0.8px;
    margin: 0px;
    padding: 0px;
    color: #000000;
    @media (prefers-color-scheme: dark) {
        color: #ffffff;
    }

    p > span {
        @media (max-width: 500px) {
            display: block;
            margin-bottom: 10px;
        }
    }
}