.description-title {
    display: inline-block;
    position: relative;
    font-family: AppleSDGothicNeo;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: -0.8px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}