.card-container {
    width: 222px;
    height: 181px;
    border-radius: 8px;
    box-shadow: 6px 6px 20px 0 rgba(217, 217, 217, 0.27);
    background-color: #ffffff;
    padding: 22px 24px;
    @media (prefers-color-scheme: dark) {
        background-color: #191818;
        box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.51);
    }
    @media (max-width: 860px) {
        width: 76%;
        margin-bottom: 16px;
        height: 160px;
    }   
}
.card-container:hover {
    box-shadow: 13px 13px 10px 0 rgba(217, 217, 217, 0.47);
    @media (prefers-color-scheme: dark) {
        box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.51);
    }
}