.card-container {
    width: 237px;
    height: 205px;
    border-radius: 8px;
    box-shadow: 6px 6px 20px 0 rgba(217, 217, 217, 0.27);
    background-color: #ffffff;
    @media (prefers-color-scheme: dark) {
        background-color: #333333;
    }
}