
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.index-container {
    background-color: #f8f8f8;
    padding-bottom: 20px;
    min-height: 100vh;
    @media (prefers-color-scheme: dark) {
        background-color: #101010;
    }
}