.icon-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    position: absolute;
    top: 14px;
    left: 98%;
    box-shadow: 6px 8px 6px 0 rgba(217, 217, 217, 0.5);
    @media (prefers-color-scheme: dark) {
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.11);
    }

    @media (max-width: 500px) {
        top: 100px;
    }
}
.icon-N-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: -0.45px;
    text-align: left;
    color: #ffffff;
}