.prefix__cls-1 {
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  @media (prefers-color-scheme: dark) {
    stroke: #ffffff;
  }
}

#prefix__그룹_16 {
  stroke-linecap: round;
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
  @media (prefers-color-scheme: dark) {
    stroke: #ffffff;
  }
}
#prefix__사각형_2172{
  fill:#ffffff;
  opacity:0;
  @media (prefers-color-scheme: dark) {
    stroke: #000000;
  }
}